body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-color: #282C34;
}
#game-container { 
    margin-top: 20px; 
}
input { 
    padding: 10px; 
    margin: 10px; 
}
button { 
    padding: 10px; 
    cursor: pointer; 
}
h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #61DAFB;
}