body { 
  font-family: Arial, sans-serif; 
  text-align: center; 
  background-color: #282C34;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #34495e;
  color:#61DAFB;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#game-container { 
  margin-top: 20px; 
}
input { 
  padding: 10px; 
  margin: 10px; 
}
button { 
  padding: 10px; 
  cursor: pointer; 
}
h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #61DAFB;
}
.navegacion {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #34495e;
  text-align: center;
}
.menus {
  float: left;
}

.menus a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menus a:hover {
  color: #61DAFB;
}

.menu {
  display: flex;
  background-color: #34495e;
  justify-content: center;
}

.titulo-quienes-somos{
  color: #61DAFB;
  font-size: 2em;
  margin-top: 20px;
}

.quienes-somos-p{
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
  margin: 20px 40px;
}

.logo-pagina{
width: 60px;
height: 60px;
margin-top: 20px;
margin-right: 20px;
border-radius: 15px;
}

.img-titulo {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 5px;
}